.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("/Content/images/loader3.gif") center no-repeat;
}

.card-primary {
    background: linear-gradient(to right,#f26726,#f26728ad) !important;
    color: #fff;
    border: 0;
}

.card-primary1 {
    background: linear-gradient(to right,#007bff,#007bff8c) !important;
    color: #fff;
    border: 0;
}

body.loading {
    overflow: hidden;
}

    body.loading .overlay {
        display: block;
    }

.cursor {
    cursor: pointer;
}

.fontStyleHeader {
    font-family: 'ubuntu-regular';
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.btn-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#f69563), to(#ef4a26));
    background: linear-gradient(to right, #f69563, #ef4a26);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

    .btn-gradient-primary:not([disabled]):not(.disabled):active, .btn-gradient-primary:not([disabled]):not(.disabled).active, .show > .btn-gradient-primary.dropdown-toggle {
        background: -webkit-gradient(linear, left top, right top, from(#f69563), to(#ef4a26));
        background: linear-gradient(to right, #f69563, #ef4a26);
    }

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #f7965e;
    border-width: 2px;
    -webkit-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background: -webkit-gradient(linear, left top, right top, from(#f7965e), to(#ef4a26));
    background: linear-gradient(to right, #f7965e, #ef4a26);
    border-width: 0;
}

.text-primary, .list-wrapper .completed .remove {
    color: #ffa978 !important;
}

a.text-primary:hover, .list-wrapper .completed a.remove:hover, a.text-primary:focus, .list-wrapper .completed a.remove:focus {
    color: #ff5900 !important;
}

.auth .auth-form-light select {
    color: #495057;
}

select.form-control {
    padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #c9c8c8;
    color: #c9c8c8;
}

.form-control {
    display: block;
    padding: .4375rem .75rem !important;
    width: 100%;
    height: 2.875rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.auth form .form-group {
    margin-bottom: 8px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #3e4b5b;
    color: #ffffff;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #f26726;
    font-family: "ubuntu-medium", sans-serif;
}

.sidebar .nav .nav-item.active > .nav-link i {
    color: #f26726;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ef4826;
    background: transparent;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #f26326;
}

.table th, .table td {
    padding: 0.6rem;
}

.card .card-body {
    padding: 1rem 1rem;
}

.card-header {
    background-color: white;
}

.card-footer {
    background-color: white;
    padding: 10px 20px;
}

.content-wrapper {
    padding: 1.75rem 1.25rem;
}

.widthCenter {
    width: 1%;
    text-align: center;
}

.widthRight {
    width: 1%;
    text-align: right;
}

.widthLeft {
    width: 1%;
    text-align: left;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
    padding: 2px;
}

    .pagination a {
        color: #000000;
        padding: 2px 10px;
        text-decoration: none;
        transition: background-color .3s;
    }


    .pagination li.active {
        background: #c8c8c8;
        border-radius: 2px;
    }

@keyframes loading {
    40% {
        background-position: 100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}


.bar {
    background-color: #E7E7E7;
    height: 16px;
    border-radius: 4px;
    background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
    background-position: -100px 0;
    background-repeat: no-repeat;
    animation: loading 1s infinite;
}

.btn-primary {
    color: #fff;
    background-color: #f57f24;
    border-color: #f57f25;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #ef4b29;
        border-color: #ef4b29;
    }

.icon-font-size {
    font-size: 24px;
}

.badge-primary {
    color: #fff;
    background-color: #f57f24;
}

.badge-primary {
    border: 1px solid #f57f24;
    color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ef4b29;
    border-color: #ef4b29;
}

.btn-primary:not(.btn-light):focus, .btn-primary:not(.btn-light):active {
    background: #ef4b29;
    border-color: #ef4b29;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #f57f24;
    box-shadow: 0 0 0 0.2rem #f57f24;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 0.3rem;
    outline: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    color: #f26726;
    font-size: 1rem;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    display: block;
    padding: 4px 5px !important;
    width: 100%;
    height: 2.875rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 2px !important;
}

.btn-outline-primary {
    color: #f26726;
    border-color: #f26726;
}

    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
        background: -webkit-gradient(linear, left top, right top, from(#f26726), to(#f26726));
        background: linear-gradient(to right, #f26726, #f26726);
        color: white;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem #f26726;
        box-shadow: 0 0 0 0.2rem #f26726;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #f26726;
        border-color: #f26726;
    }

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #f26726;
        border-color: #f26726;
    }

.badgeCustom {
    font-size: 14px;
    font-family: ubuntu-regular, sans-serif;
    padding: 10px 0px;
}

.listMenu {
    padding: 8px 10px;
    cursor: pointer;
}

.addMenu {
    color: #4a154b !important;
}

.exportMenu {
    color: #64c3eb !important
}

.printMenu {
    color: #5bb381 !important
}

.viewMenu {
    color: #e3b34c !important;
}

.filterMenu {
    color: #ce375c !important;
}

.editMenu {
    color: #5c3c92 !important;
}

.deleteMenu {
    color: #d72631 !important;
}

.activeColor {
    background: #077b8a;
    color: white;
}

.inActiveColor {
    background: #d72631;
    color: white;
}

.breadcrumb {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: white;
    border-radius: 1rem;
}

.textboxHeight {
    height: 30px;
    width: 100px;
}

/*.scrollbar {
    overflow-y: scroll;
}

.force-overflow {
    min-height: 250px;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #686868;
}*/

/*.btn-inverse-primary:not(.btn-inverse-light) {
    color: #f26726;
}

.btn-inverse-primary:hover {
    color: #ffffff;
    background-color: #f26726;
    border-color: #f26726;
}

.btn-inverse-primary.active, .btn-inverse-primary:active, .show > .btn-inverse-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #f26726;
    border-color: #f26726;
}

.btn-inverse-primary.focus, .btn-inverse-primary:focus {
    -webkit-box-shadow: 0 0 0 3px #f26726;
    box-shadow: 0 0 0 3px #f26726;
}*/

/* ------------------------------------------------------------ */

/* Basic */
.border-radius {
    border-radius: 1rem;
}

.top-bg {
    min-height: 400px;
}

.bg-primary {
    background-color: #5e72e4 !important;
}

.navbar {
    background: transparent;
}

.card {
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    overflow: hidden;
    border-radius: 1rem;
    background: white;
}

.card-header {
    color: #fff;
    background-color: linear-gradient(to right, #f69563, #ef4a26);
    border: none;
    min-height: 40px;
}

.card-footer {
    background-color: transparent;
    border: none;
}

/* Layout */
body {
    background: #f8f9fa!important;
}

.footer {
    background: transparent;
}

/* Spacing */
.row.gut-md {
    margin-right: -10px;
    margin-left: -10px;
}

.row.gut-md > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

/* Sidebar */
.sidebar-wrapper {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem!important;
    overflow: hidden;
    overflow-anchor: none;
    touch-action: auto;
    padding: 0;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    z-index: 9999;
}

/* Main */
.main-panel {
    position: relative;
    width: calc(100% - 275px);
}

.content-wrapper {
    padding: .5rem 1.25rem;
    background: transparent;
}

.navbar-toggler {
    color: #fff !important;
}

.navbar .navbar-menu-wrapper {
    width: 100%;
}

@media (min-width: 992px) {
    .main-panel {
        margin-left: 17.125rem;
    }

    .sidebar-icon-only .main-panel {
        margin-left: 5.125rem;
    }

    .sidebar-icon-only .navbar .navbar-brand-wrapper {
        display: none !important;
    }

    .sidebar-icon-only .navbar .navbar-menu-wrapper {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .sidebar-wrapper {
        width: auto;
    }
    .navbar .navbar-brand-wrapper {
        display: none !important;
    }
    .sidebar-offcanvas.active {
        margin: 1rem 1.5rem 1rem 0;
        top: 0;
        box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
        border-radius: 1rem;
    }
}

@media (max-width: 768px) {
    .row.gut-md > [class*="col-"] {
        margin-bottom: 1.5rem;
    }
}
