
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Employer/Views/Shared/_Layout.cshtml";
}

<div ng-controller="client-dashboard-controller">
    <div class="row" ng-if="!verification">
        <div class="col-12">
            <span class="d-flex align-items-center purchase-popup">
                <p>Welcome <b>{{loginName}}</b>, Your account is not verified!</p>
                <a class="btn btn-gradient-primary ml-auto text-white"
                   href="#"
                   ng-click="onClick_ProceedAccount()">Proceed to verification</a>
            </span>
        </div>
    </div>

    <div class="row gut-md" ng-if="verification">
        <div class="col-md-4">
            <div class="card card-white border-radius">
                <div class="card-body">
                    <h4 class="mt-1 mb-2">Active Employee</h4>
                    <h1 class="mb-2 fw-bold">{{active}}</h1>
                    <h4 class="pb-2 mb-0 fw-bold">User summary</h4>
                    <hr style="margin-top: 5px; margin-bottom:5px;" />
                    <ul class="list-unstyled mb-2">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Total Employee</span>
                            <span class="badge badge-pill">{{total}}</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            In-Active
                            <span class="badge badge-pill">{{inActive}}</span>
                        </li>
                    </ul>
                    <hr style="margin-top: 5px; margin-bottom:5px;" />
                    <a href="/employer/mastersetting/manage-your-employee-list" style="font-size: .8rem">
                        Manage Employee
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-white border-radius">
                <div class="card-body">
                    <h4 class="mt-1 mb-2">Pending Leave to Process</h4>
                    <h1 class="mb-2 fw-bold">{{pending}}</h1>
                    <h4 class="pb-2 mb-0 fw-bold">Leave summary</h4>
                    <hr style="margin-top: 5px; margin-bottom:5px;" />
                    <ul class="list-unstyled mb-2">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Approved</span>
                            <span class="badge badge-pill">{{approved}}</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Rejected
                            <span class="badge badge-pill">{{rejected}}</span>
                        </li>
                    </ul>
                    <hr style="margin-top: 5px; margin-bottom:5px;" />
                    <a href="/employer/leavesetting/manage-your-leaveapplication" style="font-size: .8rem;">
                        Manage Leave
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-white border-radius">
                <div class="card-header">
                    <h4 class="mt-1 mb-2" style="color: white;">Things to do first!</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Company profile
                            <span ng-show="_companyProfile">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_companyProfile">
                                <a href="/employer/mastersetting/manage-your-company-setting" class="badge badge-danger">Open</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Branch
                            <span ng-show="_branch">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_branch">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultBranch()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Department
                            <span ng-show="_department">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_department">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultDepartment()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Entitlement
                            <span ng-show="_entitlement">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_entitlement">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultEntitlement()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Leave Type
                            <span ng-show="_leavetype">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_leavetype">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultLeavetype()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Shift
                            <span ng-show="_shift">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_shift">
                                <a href="/employer/attendancesetting/manage-your-shift" class="badge badge-danger">Open</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Additional Setup
                            <span ng-show="_additionalsetup">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_additionalsetup">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultAdditionalPaySetup()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Global Setup
                            <span ng-show="_globalsetup">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_globalsetup">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultGlobalSetup()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Overtime Setup
                            <span ng-show="_overtimesetup">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_overtimesetup">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultOvertimeSetup()">Apply Default</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Shift Setup
                            <span ng-show="_shiftsetup">
                                <i class="mdi mdi-check-circle text-success"></i>
                            </span>
                            <span ng-hide="_shiftsetup">
                                <a href="#" class="badge badge-danger" ng-click="onClick_AddDefaultShiftSetup()">Apply Default</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Areas/Employer/_Employer/Code/Home/client-dashboard-controller.js?version=@(System.Configuration.ConfigurationManager.AppSettings["version"].ToString())"></script>
}